{% extends "MotogpBundle:Default:base.html.twig" %}
{% set mdata = {'moto-2' : 'KTM MOTO2', 'moto-3' : 'KTM RC250GP', 'fim-jr' : ''} %}
{% block title %}{{ "owner" | trans }} - {{ modality.slug | capitalize }} - {{ 'motos' | trans  }}{% endblock %}
{% block body %}
    {{ parent() }}
    <section id="slider-motos" class="clearfix top-slider">
        <div id="swiper-inicio" class="swiper-container" style="width:100%;height:49vw" auto-height="true">
            <label class="golden-text only-desktop lleft">
                {{ mdata[modality.slug] }}
            </label>
            <label class="golden-text only-desktop rright">
                {{ mdata[modality.slug] }}
            </label>
            <div class="swiper-wrapper">

                <div
                        class="swiper-slide dark lazy cover"
                        data-src="{{ asset('/bundles/motogp/img/assets/motos_' ~ modality.slug ~ '.jpg') }}?v={{ "now" | date('dmyhij') }}"
                        aria-role="img"
                >
                </div>

            </div>
        </div>
        <div class="slider-bottom-arrow relative">
            <img src="{{ asset('/bundles/motogp/img/assets/down_black.png') }}" alt="">
        </div>
    </section>

    <div class="smoke-background">
        <div class="white-background motos-wrapper">
            <div class="w100 motos-description">
                {% include "MotogpBundle:StaticContent:motos_" ~ modality.slug ~ "_" ~ locale ~ ".html.twig" %}
            </div>
        </div>
    </div>

    <div class="relative">
        <div class="moto-bg moto-bg-motos">
            <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral.png') }}" />
        </div>
    </div>

    {% include 'MotogpBundle:Default:Motos/motos-gallery.html.twig' with {'gallery' : gallery} %}
    <div class="text-center">
        <img src="{{ asset('/bundles/motogp/img/assets/up.png') }}" alt="" class="up-arrow">
        <br/><br/>
    </div>

    <style>
        .lleft {
            position: absolute;
            top: 7em;
            left: 25em;
            font-weight: lighter;
            z-index: 999999;
        }

        .rright {
            position: absolute;
            top: 7em;
            right: 25em;
            font-weight: lighter;
            z-index: 999999;
        }
    </style>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}