{% extends "MotogpBundle:Default:base.html.twig" %}
{% block title %}{{ "owner" | trans }} - {{ locale == 'es' ? post.seoTitle : post.seoTitleEN }} {% endblock %}
{% block keywords %}{{ "owner" | trans }} - {{ locale == 'es' ? post.seoKeywords : post.seoKeywordsEN }} {% endblock %}
{% block body %}
    {{ parent() }}
    <div class="smoke-background col-xs-12 post">
        <div class="white-background col-xs-12" style="display:block">
            {% if post.featuredMedia %}
                <div class="post-featured-image">
                    <img src="{%  path post.featuredMedia, 'xlarge'  %}" />
                </div>
            {% endif %}

            {#{% include "MotogpBundle:Default:Posts/post-gallery.html.twig" with {'post' : post }%}#}
            <div style="margin-top:4em;">
                {% if post.circuit  %}
                    <h6 style="color:grey"><b>{{ locale == 'es' ? post.circuit.name : post.circuit.nameEN }}</b></h6>
                {% endif %}
                <h4><b>{{ locale == 'es' ? post.name : post.nameEN }}</b></h4>

                <div class="w100 form-group">
                    {{ locale == 'es' ? (post.description | raw) : (post.descriptionEN | raw ) }}
                </div>
            </div>
            <br/><br/>
            {#{% include "MotogpBundle:Default:Posts/post-galleries.html.twig" with {'post' : post }%}#}
        </div>
    </div>

    {% set g = post %}


    {% if post.gallery is not empty %}
        {% set g = post.gallery %}
    {% endif %}

    {% if g is not null and g is not empty and g.medias is not null and g.medias is not empty %}
        {% include 'MotogpBundle:Default:Motos/motos-gallery.html.twig' with {'gallery' : g} %}
    {% endif %}

    <div class="text-center">
        <img src="{{ asset('/bundles/motogp/img/assets/up.png') }}" alt="" class="up-arrow">
        <br/><br/>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}