{% extends "MotogpBundle:Default:base.html.twig" %}
{% block title %}{{ "owner" | trans }} - {{ locale == 'es' ? post.seoTitle : post.seoTitleEN }} {% endblock %}
{% block keywords %}{{ "owner" | trans }} - {{ locale == 'es' ? post.seoKeywords : post.seoKeywordsEN }} {% endblock %}

{% set customUrl = url('post', {'locale': 'es', 'modality' : modality.slug, 'slug' : post.slug } ) %}
{% set customUrlEN = url('post', {'locale': 'en', 'modality' : modality.slug, 'slug' : post.slugEN } ) %}

 {% block header %}
     {% include "MotogpBundle:Default:Blocks/header.html.twig" with {'customUrl' : customUrl, customUrlEN : customUrlEN } %}
 {% endblock  %}

{% block body %}
    {{ parent() }}
    <div class="smoke-background col-xs-12 post">
        <div class="col-xs-12" style="display:block">
            {% if post.featuredMedia %}
                <div class="post-featured-image">
                    <img src="{%  path post.featuredMedia, 'xlarge'  %}" />
                </div>
            {% endif %}

            {#{% include "MotogpBundle:Default:Posts/post-gallery.html.twig" with {'post' : post }%}#}
            <div style="margin-top: 4em;
    background: rgba(255,255,255,0.7);
    padding: 1em;">
                {% if post.circuit  %}
                    <h6 style="color:grey;{% if post.upperCase %}text-transform:uppercase;{% endif %}"><b>{{ locale == 'es' ? post.circuit.name : post.circuit.nameEN }}</b></h6>
                {% endif %}
                <h4 style="{% if post.upperCase %}text-transform:uppercase;{% endif %}"><b>{{ locale == 'es' ? post.name : post.nameEN }}</b></h4>

                <div class="w100 form-group">
                    {{ locale == 'es' ? (post.description | raw) : (post.descriptionEN | raw ) }}
                </div>
            </div>
            <br/><br/>

            {% set g = post %}


            {% if post.gallery is not empty %}
                {% set g = post.gallery %}
            {% endif %}

            {% if g is not null and g is not empty and g.medias is not null and g.medias is not empty %}
                {% include 'MotogpBundle:Default:Motos/motos-gallery.html.twig' with {'gallery' : g} %}
            {% endif %}

        </div>

    </div>

    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}