{% extends "MotogpBundle:Default:base.html.twig" %}
{% block title %}{{ "owner" | trans }} - {{ modality.slug | capitalize }} - {{ "images" | trans }}{% endblock %}
{% block body %}
    {{ parent() }}
    {#{% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}#}
    <div class="smoke-background">
        <div class="standard-background">


            <div class="col-xs-12 text-center form-group">
                <select id="modality_doc_selector" class="select-link form-control">
                    {% for m in modalities %}
                        <option value="{{ url('docs_by_year', {'modality' : m.slug, 'year' : ("now" | date('Y'))}) }}" {% if modality.slug == m.slug%}selected{% endif %} >
                            {{ m.name }}
                        </option>
                    {% endfor %}
                </select>

            </div>


            <div class="circuit-galleries">
                {% set cpost = [] %}

                {% for c in circuits %}
                    {% if c.documents is not empty %}
                        {% set cpost = cpost | merge([c]) %}
                    {% endif %}
                {% endfor %}

                {% if app.user.customer %}

                    {% set cpost = [] %}

                    {% for c in circuits %}
                        {% if c.documents is not empty and c.id == app.user.customer.circuit.id %}
                            {% set cpost = cpost | merge([c]) %}
                        {% endif %}
                    {% endfor %}

                {% endif %}
                {% for cb in cpost | batch(3, '') %}
                    <div class="row col-xs-12">
                        {% for c in cb %}
                            {% if c.id is defined %}
                                {% include "MotogpBundle:Default:Documents/circuit-docs.html.twig" with {'circuit' : c} %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
                {% if cpost | length  < 1%}
                    <div class="col-xs-12 text-center">
                        <h4 class="text-center w100 golden-text" style="padding: 4em">
                            {{ "no_documents" | trans }}
                        </h4>
                    </div>
                {% endif %}
            </div>
            <br><br>
            <div class="text-center">
                <img src="{{ asset('/bundles/motogp/img/assets/up_inverse.png') }}" alt="" class="up-arrow">
            </div>
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
    <div class="relative">
        <div class="moto-bg moto-bg-footer">
            <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral_sama.png') }}" style="position:absolute!important"/>
        </div>
    </div>
{% endblock %}