
{% if (sonata_admin.admin.code == 'motogp.admin.gallery') %}

    {% set riders = sonata_admin.admin.getRiders() %}

    <div id="post-medias" class="dropzone form-group medias-dropzone" url="{{ oneup_uploader_endpoint('gallery') }}" multiple="true" maxfiles="16">
        <div class="dz-default dz-message">
            Pulsa aquí o arrastra imágenes
        </div>
    </div>
    <div id="post-medias">
        <div class="form-group">
            {% set index = 0 %}
            <div class="collection">
                {% for media in form.vars.value %}
                    <div class="hidden media-description collection-row well row col-md-12 form-group" path="{% path media, 'icon' %}" index="{{ index }}">
                        <div class="col-xs-4">
                            <img class="img img-responsive" src="{% path media, 'icon' %}"/>
                            <label>Orden</label>
                            <input type="number" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][_order]" type="text" value="{{ media._order }}" />
                        </div>
                        <div class="col-xs-8">

                            <label>Descripción</label>
                            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][description]" type="text" value="{{ media.description }}" />
                            <label>Descripción (Inglés)</label>
                            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][descriptionEN]" type="text" value="{{ media.descriptionEN }}" />
                            <label>Enlace</label>
                            <input placeholder="Url" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][url]" type="text" value="{{ media.url }}" />
                            <label>Enlace (Inglés)</label>
                            <input placeholder="Url" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][urlEN]" type="text" value="{{ media.urlEN }}" />
                            <label>Piloto</label>
                            <select class="form-control" name="{{ form.vars.full_name }}[{{ index }}][rider]" type="text" value="{{ media.rider }}">
                                <option value="">-</option>
                                {% for rider in riders %}
                                    <option
                                            {% if rider is not null and media.rider is not null and rider.id == media.rider.id %}selected {% endif %}
                                            value="{{ rider.id }}">{{ rider.name }} {{ rider.surname }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        {#<label>Destacada</label>#}
                        {#<input placeholder="Url" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][featured]" type="checkbox" checked="{{ media.featured == true }}" />#}
                    </div>
                    {% set index = index + 1 %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="data-prototype" data-prototype='{% spaceless %}
    <div class="hidden collection-row well row col-md-12 form-group" index="__index__">
        <div class="col-xs-4">
            <img class="img img-responsive" src="" />
            <label>Orden</label>
            <input type="number" class="form-control" name="{{ form.vars.full_name }}[__index__][_order]" type="text" />
        </div>
        <div class="col-xs-8">

            <label>Descripción </label>
            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[__index__][description]" type="text" />
            <label>Descripción (Inglés)</label>
            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[__index__][descriptionEN]" type="text" />
            <label>Enlace</label>
            <input placeholder="Enlace" class="form-control" name="{{ form.vars.full_name }}[__index__][url]" type="text" />
            <label>Enlace (Inglés)</label>
            <input placeholder="Enlace (inglés)" class="form-control" name="{{ form.vars.full_name }}[__index__][urlEN]" type="text" />
            <input class="form-control uploadFile" name="{{ form.vars.full_name }}[__index__][uploadFile]" type="hidden"  />
            <label>Piloto</label>
             <select class="form-control" name="{{ form.vars.full_name }}[__index__][rider]" type="text">
                            <option value="">-</option>
                                {% for rider in riders %}
                                    <option  value="{{ rider.id }}">{{ rider.name }} {{ rider.surname }}</option>
                                {% endfor %}
                            </select>
        </div>
    </div>
{% endspaceless %}'>
    </div>
{% else %}
    <div id="post-medias" class="dropzone form-group medias-dropzone" url="{{ oneup_uploader_endpoint('gallery') }}" multiple="true" maxfiles="16">
        <div class="dz-default dz-message">
            Pulsa aquí o arrastra imágenes
        </div>
    </div>
    <div id="post-medias">
        <div class="form-group">
            {% set index = 0 %}
            <div class="collection">
                {% for media in form.vars.value %}
                    <div class="media-description hidden collection-row well row col-md-12 form-group" path="{% path media, 'icon' %}" index="{{ index }}">
                        <div class="col-xs-4">
                            <img class="img img-responsive" src="{% path media, 'icon' %}"/>
                            <label>Orden</label>
                            <input type="number" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][_order]" type="text" value="{{ media._order }}" />
                        </div>
                        <div class="col-xs-8">
                            <label>Título</label>
                            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][title]" type="text" value="{{ media.title }}" />
                            <label>Título (Inglés)</label>
                            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][titleEN]" type="text" value="{{ media.titleEN }}" />
                            <label>Descripción</label>
                            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][description]" type="text" value="{{ media.description }}" />
                            <label>Descripción (Inglés)</label>
                            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][descriptionEN]" type="text" value="{{ media.descriptionEN }}" />
                            <label>Enlace</label>
                            <input placeholder="Url" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][url]" type="text" value="{{ media.url }}" />
                            <label>Enlace (Inglés)</label>
                            <input placeholder="Url" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][urlEN]" type="text" value="{{ media.urlEN }}" />
                        </div>
                        {#<label>Destacada</label>#}
                        {#<input placeholder="Url" class="form-control" name="{{ form.vars.full_name }}[{{ index }}][featured]" type="checkbox" checked="{{ media.featured == true }}" />#}
                    </div>
                    {% set index = index + 1 %}
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="data-prototype" data-prototype='{% spaceless %}
    <div class="hidden collection-row well row col-md-12 form-group" index="__index__">
        <div class="col-xs-4">
            <img class="img img-responsive" src="" />
            <label>Orden</label>
            <input type="number" class="form-control" name="{{ form.vars.full_name }}[__index__][_order]" type="text" />
        </div>
        <div class="col-xs-8">
             <label>Título</label>
            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[__index__][title]" type="text" />
             <label>Título (Inglés)</label>
            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[__index__][titleEN]" type="text" />
            <label>Descripción </label>
            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[__index__][description]" type="text" />
            <label>Descripción (Inglés)</label>
            <input placeholder="Descripción" class="form-control" name="{{ form.vars.full_name }}[__index__][descriptionEN]" type="text" />
            <label>Enlace</label>
            <input placeholder="Enlace" class="form-control" name="{{ form.vars.full_name }}[__index__][url]" type="text" />
            <label>Enlace (Inglés)</label>
            <input placeholder="Enlace (inglés)" class="form-control" name="{{ form.vars.full_name }}[__index__][urlEN]" type="text" />
            <input class="form-control uploadFile" name="{{ form.vars.full_name }}[__index__][uploadFile]" type="hidden"  />
        </div>
    </div>
{% endspaceless %}'>
    </div>
{% endif %}

<script src="{{ asset('bundles/motogp/js/admin/addMedia.js') }}"></script>
