{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block side_bar_after_nav %}

    <div id="modal-window" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    
    <div baseData="{{ kernelRootDir }}"></div>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,400,500,600,700" media="all">
    <div class="form-group">

    </div>
    <div class="col-md-12">
        <div class="col-xs-3">
            <a target="_blank" href="{{ path('index', {'modality' : 'moto-gp'}) }}"><i class="fa fa-home"></i></a>
        </div>
        <div class="col-xs-3">
            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i></a>
        </div>
    </div>
    <style>

        body {
            font-family: 'Poppins', sans-serif;
        }
        .box.box-primary {
            border-top : none !important;
        }

        .nav-tabs-custom>.nav-tabs>li.active {
            box-shadow: 0px -2px 8px #ccc;
            border-top-color : white !important;
        }

        .skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
            background-color: #fbfbfb;
            box-shadow: 8px 8px 10px #cccccc7a;
        }

        .box-footer .form-inline {
            display: none;
        }

        .skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
            color: #22b9ff;
            background: #fdfaeb;
            border-left-color: #fff;
            font-weight: bolder;
        }

        .info-box-icon.bg-aqua {
            display : none;
        }

        .info-box-content {
            padding: 5px 10px;
            margin-left : 0;
        }

        .sonata-ba-list-field-header-batch, .sonata-ba-list-field-batch {
            display:none;
        }

        .logo img {
            display: inline;
            padding-bottom: 4px;
            max-height: 100%;
            max-width: 95%;
        }

        .last.treeview {
            display : none;
        }

        .input-group.custom-search-form {
            display:none;
        }

        .sidebar-toggle {
            display : none;
        }

        .skin-black .sidebar a {
            color: #484747;
        }

    </style>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="scssphp" output="bundles/motogp/css/admin.css"
    "bundles/motogp/scss/_variables.scss"
    "bundles/motogp/scss/admin.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/motogp/vendor/node_modules/dropzone/dist/min/basic.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/motogp/vendor/node_modules/dropzone/dist/min/dropzone.min.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/motogp/vendor/node_modules/dropzone/dist/dropzone.js') }}"></script>
    <script>
        Dropzone.autoDiscover = false;
    </script>
    <script src="{{ asset('bundles/motogp/js/admin/addFeaturedMedia.js') }}?v={{ "now" | date('dmyhs') }}"></script>
    <script src="{{ asset('bundles/motogp/js/admin/importPost.js') }}?v={{ "now" | date('dmyhs') }}"></script>
    <script src="{{ asset('bundles/motogp/js/admin/admin.js') }}?v={{ "now" | date('dmyhs') }}"></script>
{% endblock %}