{% trans_default_domain 'riders' %}
{% block title %}{{ "owner" | trans([], 'messages') }} - {{ modality.slug | capitalize }} - {{ rider.name }}  {{ rider.surname }}{% endblock %}
{% set r = rider %}

{% macro list_isset(locale, r, field) %}
    {% set f = (locale == 'es' ? field : (field ~ 'EN')) %}

    {% if attribute(r, f) %}
        <li>
            <span class="title">{{ field | trans }}:</span>
            <span>{{ attribute(r, field) }}</span>
        </li>
    {% endif %}
{% endmacro %}

{% import _self as forms %}

{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}

    {% if rider.medias is not null and rider.medias | length %}
        {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : rider } %}
    {% endif %}

    <div class="smoke-background">
        <div class="white-background">
            <div class="w100 rider-description">
                <div id="{{ r.name | lower }}-{{ r.surname | lower }}">
                    <div class="row info w100 relative">
                        <div class="w100">
                            <div class="rider-media col-nopad bg-w100 col-xs-12 col-md-6">
                                <div class="col-xs-11 tcenter">
                                    <img class="img img-responsive" src="{% path r.featuredMedia, 'big' %}?v={{ "now" | date('dmyhij') }}"/>
                                </div>
                            </div>

                            <div class="col-nopad col-xs-12 col-md-6 rider-name">
                                <div class="col-xs-10 tcenter">
                                    <h2><span class="right-arrow">&#9654;&nbsp;</span><b style="text-transform: uppercase">{{ r.name }} {{ r.surname }} #{{ r.number }}</b></h2>
                                    <br>
                                    <ul class="rider-info">
                                        <li>
                                            <span class="title">{{ 'birthDate' | trans }}:</span>
                                            <span>{{ r.birthDate | date('d/m/Y') }} - {{ r.birthPlace }} -  {{  r.country }} {{ 'age' | trans }}: {{ r.getAge() }} </span>
                                        </li>
                                        {{ forms.list_isset(locale, r, 'firstRace') }}
                                        {{ forms.list_isset(locale, r, 'firstGrandPrix') }}
                                        {{ forms.list_isset(locale, r, 'firstVictory') }}
                                        {{ forms.list_isset(locale, r, 'lastVictory') }}
                                        {{ forms.list_isset(locale, r, 'firstPole') }}
                                        {{ forms.list_isset(locale, r, 'firstFastLap') }}
                                        {{ forms.list_isset(locale, r, 'firstPodium') }}
                                        {{ forms.list_isset(locale, r, 'victorys') }}
                                        {{ forms.list_isset(locale, r, 'podiums') }}
                                        {{ forms.list_isset(locale, r, 'poles') }}
                                        {{ forms.list_isset(locale, r, 'firstRace') }}
                                        {{ forms.list_isset(locale, r, 'fastLaps') }}
                                        {{ forms.list_isset(locale, r, 'bestGeneralResult') }}
                                        {{ forms.list_isset(locale, r, 'gpss') }}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    {% if r.records | length %}
                        <div class="row track-records">
                            <h3><span class="right-arrow">&#9654;&nbsp;</span><b>{{ 'trackRecords' | trans }}</b></h3>

                            {%  for key, record in r.getGroupedRecords() %}
                                {% if loop.index == 1 or (loop.index % 10  == 0)%}
                                    <div class="col-xs-12 col-md-6">
                                    <ul class="rider-records">
                                {% endif %}
                                <li><span class="title">{{ key }}:</span>
                                    {% for ri in record %}
                                        {{ locale == 'es' ? ri.description : ri.descriptionEN }}<br>
                                    {% endfor %}
                                </li>
                                {% if (loop.index % 10  == 9) %}
                                    </ul></div>
                                {% endif %}
                            {%  endfor %}

                        </div>
                    {% endif %}
                </div>

                {% if r.description or r.descriptionEN %}
                    <div class="row info rider-biografy">
                        <h2><span class="right-arrow">&#9654;&nbsp;</span><b>{{ 'biografy' | trans }}</b></h2>
                        <div>{{ locale == 'es' ? (r.description | raw) : (r.descriptionEN | raw )}}</div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div

    {#{% set g = [] %}#}
    {#{% for gl in galleries %}#}
    {#{% for m in gl.medias %}#}
    {#{% if m.rider is not null and m.rider.id == r.id %}#}
    {#{% set g = g | merge([m]) %}#}
    {#{% endif %}#}
    {#{% endfor %}#}
    {#{% endfor %}#}

    {% if medias | length %}
        {% include 'MotogpBundle:Default:Riders/rider-gallery.html.twig' with {'medias' : medias} %}
    {% endif %}

    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}