{% trans_default_domain 'staff' %}

{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    <div class="team-staff-menu">
        <ul>
            <li><a href="#history">{{ "history" | trans }}</a></li>
            {% for r in riders %}
                <li><a href="#rider-{{ r.id }}">{{ r.name }} {{ r.surname }}</a></li>
            {% endfor %}
            <li><a href="#chart">{{ "organization_chart" | trans }}</a></li>
        </ul>
    </div>
    {% include  "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery }%}

    <div class="smoke-background">
        <div class="white-background motos-wrapper">
            <div id="history" class="form-group">
                <h3 class="text-center">{{ "history" | trans }}</h3>
                <div>
                    {{ team.history | raw }}
                </div>
            </div>

            {% for r in riders %}
                <div id="#rider-{{ r.id }}">
                    <h3 class="text-center">{{ r.name }} {{ r.surname }}</h3>
                </div>
            {% endfor %}

            <div id="chart" class="form-group">
                <h3 class="text-center">{{ "organization_chart" | trans }}</h3>
                {% for m in team.staffMembers %}
                    <div class="col-xs-12 col-md-4">
                        <div class="col-xs-12 form-group">
                            <img class="img img-responsive" src="{%  path m.featuredMedia, 'big' %}" alt="">
                        </div>
                        <h5 class="text-center">{{ m.name }}</h5>
                        <label class="text-center" for="">{{ m.teamCategory.name }}</label>
                        <div class="col-xs-12">
                            <img class="tcenter" src="{{ asset('/bundles/motogp/img/assets/flags/' ~ (m.country | lower) ~ '.png') }}" />
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}