{% trans_default_domain 'staff' %}
{% block title %}{{ "owner" | trans([], 'messages') }} - {{ modality.slug | capitalize }} - Team-staff {% endblock %}
{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body_attrs %}
    {{ parent() }}
    team-staff
{% endblock %}
{% block afterheader %}
    <div class="team-staff-menu">
        <ul>
            <li><a class="active" href="#history">{{ "history" | trans }}</a></li>
            {% for r in riders %}
                <li><a href="#rider-{{ r.id }}">{{ r.name }} {{ r.surname }}</a></li>
            {% endfor %}
            <li><a href="#chart">{{ "organization_chart" | trans }}</a></li>
        </ul>
    </div>
{% endblock %}
{% block body %}
    {{ parent() }}
    {% include  "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery }%}

    <div class="tabs staff-tabs">
        <div id="history" class="tab active">
            <div class="smoke-background">
                <div class="golden-text">
                    <div class="w100">
                        <h2 class="text-center golden-text"><b>{{ "history" | trans | upper }}</b></h2>
                        <div class="col-xs-12">
                            <div class="section-separator" style="margin-bottom:2em;padding:.5em 0"></div>
                        </div>
                        <div class="staff-history" style="padding: 3.5em">
                            {{ locale == 'es' ? (team.history | raw ) : (team.historyEN | raw )}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for r in riders %}
            <div class="col-xs-12 rider-wrapper tab" id="rider-{{ r.id }}">
                <div class="col-xs-12">
                    <img class="rider-logo tcenter" src="{% path r.logo, 'big' %}" alt="" />
                </div>
                <div class="col-xs-12 text-center">
                    <span class="rider-name">{{ r.name }}</span><span class="rider-surname">{{ r.surname }}</span>
                </div>
                <div class="col-xs-12 rider-image-wrapper">
                    {% set riderImage = r.featuredMedia %}
                    {% if r.teamStaffImage and r.teamStaffImage.providerReference %}
                        {% set riderImage = r.teamStaffImage %}
                    {% endif %}
                    <img class="rider-image tcenter" src="{% path riderImage, 'big' %}" alt="" />
                </div>
                <div class="rider-staff-members col-xs-12 col-md-10 tcenter">
                    {% for t in r.staffMembers %}
                        <div class="staff-member">
                            <div class="staff-member-img-wrapp">
                                <img class="staff-member-image" src="{% path t.featuredMedia, 'big' %}" />
                            </div>
                            <h4>{{ t.name }}</h4>
                            <h5>{{ locale == 'es' ? t.teamCategory.name : t.teamCategory.nameEN }}</h5>
                            <div class="col-xs-12">
                                <img class="tcenter" src="{{ asset('/bundles/motogp/img/assets/flags/' ~ (t.country | lower) ~ '.png') }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <div id="chart" class="tab">
            <div class="smoke-background">
                <div class="standard-background">
                    <h2 class="text-center golden-text"><b>{{ "organization_chart" | trans | upper }}</b></h2>
                    <div class="col-xs-12">
                        <div class="section-separator" style="margin-bottom:2em;padding:.5em 0"></div>
                    </div>
                    {% set levels = [] %}
                    {% set hasNull = false %}

                    {% for tc in teamCategories %}
                        {% if tc.order is not null and tc.order not in levels %}
                            {% set levels = levels | merge([tc.order]) %}
                            {% else %}
                            {% set hasNull = true %}
                        {% endif %}
                    {% endfor %}

                    {% if hasNull %}
                        {% set levels = levels | merge([null]) %}
                    {% endif %}

                    {% for level in levels %}
                        <div class="team-categories">
                            <div class="team-categories-wrapper" level="{{ level }}">
                                {% for tc in teamCategories %}
                                    {% for t in staff %}
                                        {% if t.teamCategory.id == tc.id and t.rider is null and t.teamCategory.order == level %}
                                            <div class="staff-member" >
                                                <div class="staff-member-img-wrapp">
                                                    <img class="staff-member-image" src="{% path t.featuredMedia, 'big' %}" />
                                                </div>
                                                <h4 style="color:white">{{ t.name }}</h4>
                                                <h5>{{ locale == 'es' ? t.teamCategory.name : t.teamCategory.nameEN }}</h5>
                                                <div class="col-xs-12">
                                                    <img class="tcenter" src="{{ asset('/bundles/motogp/img/assets/flags/' ~ (t.country | lower) ~ '.png') }}" />
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
    <div class="relative">
        <div class="moto-bg moto-bg-motos">
            <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral_sama.png') }}" />
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}

    <style>

        h2.golden-text {
            padding-top : 1em;
        }

        .staff-history {
            font-size : 1.1em;
        }

        .staff-member {
            font-size : 1.1em;
        }
    </style>
{% endblock %}