{% set galleries = [] %}

{% set iYears = modality | modality_years_with_images %}

{% set year = app.request.get('year') %}

{% if year is not defined %}
    {% set year = "now" | date('Y') %}
{% endif %}

{% if year is not defined %}
    {% set year = iYears[0] %}
{% endif %}

{% for p in circuit.galleries %}
    {% set galleryYear = p.createdAt | date('Y') %}
    {% if p.modality.id == modality.id %}
        {% set galleries = galleries | merge([p]) %}
    {% endif %}
{% endfor %}

{% if galleries | length %}
    <div class="circuit-gallery col-xs-12 col-sm-6 col-md-4">
        <div class="circuit-gallery-inner">
            <div class="w100 circuit-gallery-featured" style="background:url('{% path circuit.featuredMedia, 'big' %}');">
            </div>
            <div class="col-xs-12 col-sm-6 circuit-gallery-description">
                <h6>{{ circuit.name | truncate(80, true, '...')}}</h6>
                <div class="sep"></div>
                <div class="trow">
                    <h3>{{ circuit.subtitle }}</h3>
                </div>
                <div class="toggle-galleries">
                    <div class="toggler closed"></div>
                </div>
            </div>
        </div>
        <div class="circuit-galleries-list">
            <ul>
                {% for g in galleries %}
                        <li class="fancytrigger" rel="gallery-{{ g.id }}" title="{{ g.createdAt | date('d/m/Y') }} ({{ g.id }})">
                            {% spaceless %}
                                {{ locale == 'es' ? (g.category ? g.category.name : g.name)  : (g.category ? g.category.nameEN : g.nameEN) }}
                            {% endspaceless %}
                        </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% for g in galleries %}
        {% for i in g.medias %}
            {% if g.modality.slug == modality.slug %}
                <a title="{{ g.createdAt | date('d/m-Y H:i') }} ({{ g.id }})" class="fancybox hidden" rel="gallery-{{ g.id }}" href="{% path i, 'xlarge' %}" title="{{ i.description }}">
                    <img src="{% path i, 'big' %}" />
                </a>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}