{% trans_default_domain 'contact' %}

{% extends 'HampeZurbInkBundle:FoundationForEmails:2/base.html.twig' %}
{% block preHtml %}
    {{ zurb_ink_styles.add("@MotogpBundle/Resources/public/css/mailing.css") }}
{% endblock %}
{% block content %}

    <container>

        <spacer size="16"></spacer>

        <wrapper class="primary">
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <center>
                        {% set img_url = 'static/header_moto-gp.jpg' %}
                        <img src="{{ img_url  |  imagine_filter('email_header') }}" />
                    </center>
                </columns>
            </row>
            <spacer size="16"></spacer>

            <row>
                <columns>
                    {% set img_url = post.featuredMedia | media_public_url('featured_xlarge') %}
                    <img src="{{ img_url  |  imagine_filter('email_header') }}" />
                </columns>
            </row>

            {% set medias = post.medias %}

            {% set context = "post" %}

            {% if post.gallery and post.gallery.medias | length %}
                {% set context = "gallery" %}
                {% set medias = post.gallery.medias %}
            {% endif %}

            {% for row in medias | batch(3, '')%}
                <row>
                    <columns class="medias">
                        {% for m in row %}

                            {% if m is not null and m != '' %}
                                {#<columns>#}
                                {% set img_url = m | media_public_url(context ~ '_xlarge') %}
                                {% if loop.index % 3 == 0 %}
                                    <img class="media-image media-image-{{ loop.index % 3 }}" src="{{ img_url  |  imagine_filter('email_thumbnail') }}" />
                                {% else %}
                                    <img class="media-image media-image-{{ loop.index % 3 }}" src="{{ img_url  |  imagine_filter('email_thumbnail_right') }}" />
                                {% endif %}
                                {#</columns>#}
                            {% else %}
                                {#<columns></columns>#}
                            {% endif %}
                        {% endfor %}
                    </columns>
                </row>
            {% endfor %}

            <row>
                <columns class="smalltext content content-centered">
                    <h3>{{ title | upper  }}</h3>
                </columns>
            </row>
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <table class="content">
                        {{ body | raw  }}
                    </table>
                </columns>
            </row>

            <spacer size="16"></spacer>

            <row>
                <columns>
                    <center>
                        {% set img_url = 'static/footer_moto-gp.jpg' %}
                        <img src="{{ img_url  |  imagine_filter('email_header') }}" />
                    </center>
                </columns>
            </row>
            <spacer size="32"></spacer>
        </wrapper>
        <spacer size="16"></spacer>
        <row>
            <columns>
                <table class="smalltext content content-centered">
                    Copyright © 2018 Ángel Nieto Team, All rights reserved.<br><br>
                    You are receiving this email from Ángel Nieto Team MotoGP.<br>
                    Our mailing address is:<br>
                    Ángel Nieto Team<br>
                    Pol. Ind. Picassent, C/6, Parc. 49<br>
                    Picassent, Valencia 46220<br>
                    Spain
                </table>
            </columns>
        </row>
    </container>
{% endblock %}