{% trans_default_domain 'contact' %}

{% extends 'HampeZurbInkBundle:FoundationForEmails:2/base.html.twig' %}
{% block preHtml %}
    {{ zurb_ink_styles.add("@MotogpBundle/Resources/public/css/mailing.css") }}
{% endblock %}
{% block content %}

    <container>

        <spacer size="16"></spacer>

        <wrapper class="primary">
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <center>
                        {% set img_url = post.modality.headerImage | media_public_url('headerimage_medium') %}
                        <a href="{{ url('index', {'locale' : locale, 'modality' : post.modality.slug }) }}">
                            <img src="{{ img_url  |  imagine_filter('email_header') }}" />
                        </a>
                    </center>
                </columns>
            </row>
            <spacer size="16"></spacer>

            <row>
                <columns>
                    {% set img_url = featuredMedia | media_public_url('featured_xlarge') %}
                    <a href="{{ url('post', {'slug' : locale == 'es' ? post.slug : post.slugEN, 'modality': post.modality.slug, 'locale' : locale}) }}">
                        <img src="{{ img_url  |  imagine_filter('email_header') }}" />
                    </a>
                </columns>
            </row>

            {% set context = "newsletter" %}

            {% if newsletter.gallery and newsletter.gallery.medias | length %}
                {% set context = "gallery" %}
                {% set medias = newsletter.gallery.medias %}
            {% endif %}

            <row>
                <columns class="smalltext content content-centered">
                    <h3>{{ title | upper  }}</h3>
                </columns>
            </row>
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <table class="content">
                        {{ body | raw  }}
                    </table>
                </columns>
            </row>


            {% for row in medias | batch(4, '')%}
                <row>
                    <columns class="medias">
                        {% for m in row %}
                            {% if m is not null and m != '' %}
                                {% set img_url = m | media_public_url(context ~ '_xlarge') %}
                                {% if loop.index % 4 == 0 %}
                                    <a target="_blank" href="{{ app.request.getSchemeAndHttpHost() ~ asset(img_url) }}">
                                        <img class="media-image media-image-{{ loop.index % 4 }}" src="{{ img_url  |  imagine_filter('email_thumbnail') }}" />
                                    </a>
                                {% else %}
                                    <a target="_blank" href="{{ app.request.getSchemeAndHttpHost() ~ asset(img_url) }}">
                                        <img class="media-image media-image-{{ loop.index % 4 }}" src="{{ img_url  |  imagine_filter('email_thumbnail_right') }}" />
                                    </a>
                                {% endif %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </columns>
                </row>
            {% endfor %}

            <spacer size="16"></spacer>

            <row>
                <columns>
                    <center>
                        {% set img_url = post.modality.footerImage | media_public_url('footerimage_medium') %}
                        <a href="{{ url('index', {'locale' : locale, 'modality' : post.modality.slug }) }}">
                            <img src="{{ img_url  |  imagine_filter('email_header') }}" />
                        </a>
                    </center>
                </columns>
            </row>
            <spacer size="32"></spacer>
        </wrapper>
        <spacer size="16"></spacer>
        <row>
            <columns>
                <table class="smalltext content content-centered">
                    {% if locale == 'en' %}
                        Copyright © {{ "now" | date('Y') }} Ángel Nieto Team, All rights reserved.<br><br>
                        You are receiving this email from Ángel Nieto Team MotoGP.<br>
                        Our mailing address is:<br>
                        Ángel Nieto Team<br>
                        Pol. Ind. Picassent, C/6, Parc. 49<br>
                        Picassent, Valencia 46220<br>
                        Spain
                    {% else %}
                        Copyright © {{ "now" | date('Y') }} Ángel Nieto Team, Todos los derechos reservados.<br><br>
                        Está recibiendo este email desde Ángel Nieto Team MotoGP.<br>
                        Ángel Nieto Team<br>
                        Pol. Ind. Picassent, C/6, Parc. 49<br>
                        Picassent, Valencia 46220<br>
                        España
                    {% endif %}
                </table>
            </columns>
        </row>
    </container>
{% endblock %}