{% trans_default_domain 'contact' %}
{% set mod = modality %}
{% if post %}
    {% set mod = post.modality %}
{% endif %}
 {% block headStyles %}
     <style type="text/css">
         @media only screen and (max-width: 848px)  {
             p, p span {font-size : 32px !important;}
             h1 { font-size : 42px !important;}
             h2 { font-size : 38px !important;}
             h3 { font-size : 36px !important;}
             h4 { font-size : 34px !important;}
             h5 { font-size : 32px !important; font-weight: bold}
             .smalltext {
                 font-size : 20px !important;
             }
         }
     </style>
 {% endblock %}
{% extends 'HampeZurbInkBundle:FoundationForEmails:2/base.html.twig' %}
{% block preHtml %}
    {{ zurb_ink_styles.add("@MotogpBundle/Resources/public/css/mailing.css") }}
{% endblock %}
{% block content %}

    <container>
        <spacer size="16"></spacer>
        <wrapper class="primary">
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <center>
                        {% set img_url = mod.headerImage | media_public_url('headerimage_std') %}
                        {% if img_url %}
                            <a href="{{ url('index', {'locale' : locale, 'modality' : mod.slug }) }}">
                                <img src="{{ url_scheme ~ asset(img_url) }}?v={{ 'now' | date('ymdhis') }}" />
                            </a>
                        {% endif %}
                    </center>
                </columns>
            </row>
            <spacer size="16"></spacer>

            <row>
                <columns>
                    {#{% set img_url = featuredMedia | media_public_url('headerimage_std') %}#}
                    {% if img_url %}
                        {% if post %}
                            <a href="{{ url('post', {'slug' : locale == 'es' ? post.slug : post.slugEN, 'modality': post.modality.slug, 'locale' : locale}) }}">
                                <img width="848" src="{{ img_url  |  imagine_nocache_filter('email_header') }}?v={{ 'now' | date('ymdhis') }}" />
                            </a>
                        {% else %}
                            <a href="{{ url('index', {'locale' : locale, 'modality' : mod.slug }) }}">
                                <img src="{{ img_url  |  imagine_nocache_filter('email_header') }}?v={{ 'now' | date('ymdhis') }}" />
                            </a>
                        {% endif %}
                    {% endif %}
                </columns>
            </row>

            {% set context = "newsletter" %}

            {% if newsletter.gallery and newsletter.gallery.medias | length %}
                {% set context = "gallery" %}
                {% set medias = newsletter.gallery.medias %}
            {% endif %}

            <row>
                <columns class="smalltext content content-centered">
                    <h3>{{ title | upper  }}</h3>
                </columns>
            </row>
            <spacer size="16"></spacer>
            <row>
                <columns>
                    <table class="content">
                        {{ body | raw  }}
                    </table>
                </columns>
            </row>


            {% for row in medias | batch(4, '')%}
                <row>
                    <columns class="medias">
                        {% for m in row %}
                            {% if m is not null and m != '' %}
                                {% set img_url = m | media_public_url(context ~ '_xlarge') %}
                                {% if loop.index % 4 == 0 %}
                                    <a target="_blank" href="{{ url_scheme ~ asset(img_url) }}">
                                        <img class="media-image media-image-{{ loop.index % 4 }}" src="{{ img_url  |  imagine_nocache_filter('email_thumbnail') }}?v={{ 'now' | date('ymdhis') }}" />
                                    </a>
                                {% else %}
                                    <a target="_blank" href="{{ url_scheme ~ asset(img_url) }}">
                                        <img class="media-image media-image-{{ loop.index % 4 }}" src="{{ img_url  |  imagine_nocache_filter('email_thumbnail_right') }}?v={{ 'now' | date('ymdhis') }}" />
                                    </a>
                                {% endif %}
                            {% else %}
                            {% endif %}
                        {% endfor %}
                    </columns>
                </row>
            {% endfor %}

            <spacer size="16"></spacer>

            {% for quotation in newsletter.teamQuotations %}
                <row>
                    <columns>
                        <table class="content content-centered quotation">
                            <tr>
                                <td>
                                    <br><br>
                                    <div class="content-centered w100">
                                        {% if quotation.quoter.quotationImage %}
                                            {% set img_url = quotation.quoter.quotationImage | media_public_url('quotationimage_medium') %}
                                            <img class="tcenter" src="{{ img_url | imagine_nocache_filter('email_thumbnail') }}?v=2" />
                                        {% endif %}
                                    </div>
                                    <h2 class="content-centered">{{ quotation.quoter.fullname | upper}}</h2>

                                    <div class="content-centered quotation-content">
                                        <div class="w100 clearfix">
                                            <img class="fleft " src="{{ url_scheme ~ asset('/bundles/motogp/img/assets/quotation_left.png')}}?v={{ 'now' | date('ymdhis') }}" alt="" />
                                        </div>
                                        <div class="w100 quotation-content-raw">
                                            {{ (locale == 'es' ? quotation.description : quotation.descriptionEN) | raw}}
                                        </div>
                                        <div class="w100 clearfix">
                                            <img class="fright " src="{{ url_scheme ~ asset('/bundles/motogp/img/assets/quotation_right.png')}}?v={{ 'now' | date('ymdhis') }}" alt="" />
                                        </div>
                                    </div>
                                    <br><br>
                                </td>
                            </tr>
                        </table>
                    </columns>
                </row>
            {% endfor %}
            <row>
                <columns>
                    <center>
                        {% set img_url = mod.footerImage | media_public_url('footerimage_std') %}
                        {% if img_url %}
                            <a href="{{ url('index', {'locale' : locale, 'modality' : mod.slug }) }}">
                                <img src="{{ url_scheme ~ asset(img_url) }}?v={{ 'now' | date('ymdhis') }}" />
                            </a>
                        {% endif %}
                    </center>
                </columns>
            </row>
            <spacer size="32"></spacer>
        </wrapper>
        <spacer size="16"></spacer>

        <row>
            <columns>
                <table class="smalltext content content-centered" align="center">
                    <tr class="tcenter ">
                        <td  class="smalltext tcenter" align="center">
                            {% if locale == 'en' %}
                                Copyright © {{ "now" | date('Y') }} Ángel Nieto Team, All rights reserved.<br><br>
                                You are receiving this email from Ángel Nieto Team MotoGP.<br>
                                Our mailing address is:<br>
                                Ángel Nieto Team<br>
                                Pol. Ind. Picassent, C/6, Parc. 49<br>
                                Picassent, Valencia 46220<br>
                                Spain
                            {% else %}
                                Copyright © {{ "now" | date('Y') }} Ángel Nieto Team, Todos los derechos reservados.<br><br>
                                Está recibiendo este email desde Ángel Nieto Team MotoGP.<br>
                                Ángel Nieto Team<br>
                                Pol. Ind. Picassent, C/6, Parc. 49<br>
                                Picassent, Valencia 46220<br>
                                España
                            {% endif %}
                        </td>
                    </tr>

                </table>
            </columns>
        </row>
        <spacer size="16"></spacer>
        <row>
            <columns>
                <div class="smalltext content content-centered">
                    <table class="smalltext content content-centered" align="center">
                        <tr class="tcenter">
                            <td class="tcenter">
                                <p class="tcenter smalltext">{{ locale == 'es' ?  '¿Desea cambiar la forma en que recibe estos correos electrónicos?' : 'Want to change how you receive these emails?'}}</p><br>
                                <a class="smalltext" target="_blank" href="{{ url('newsletters_unsubscribe', {'modality' : mod.slug, 'locale' : locale }) }}">
                                    {{ locale == 'es' ? 'Darse de baja de nuestras newsletters' : 'Unsubscribe from this list' | trans }}
                                </a>
                            </td>
                        </tr>
                        <tr class="tcenter">
                            <img class="tcenter" src="{{ url('newsletters_logo.es') }}?v={{ 'now' | date('ymdhis') }}&customer=CUSTOMER&newsletter=NEWSLETTER" />
                        </tr>
                    </table>
                </div>
            </columns>
        </row>
    </container>
{% endblock %}