<div class="homemotos">
    <div class="homemoto-logo">
        <img class="tcenter" src="{{ asset('/bundles/motogp/img/assets/logo_ducati_motos.png') }}" alt="" />
    </div>
    <div class="homemoto moto19 relative">
        <div class="homemoto-lines homemoto-lines-left">
            <div class="top">
                <div class="circle"></div>
            </div>
            <div class="bottom"></div>
        </div>
        <img class="img img-responsive relative" src="{{ asset('/bundles/motogp/img/assets/moto_19.png') }}" alt="" />
    </div>
    <div class="homemoto moto17 relative">
        <div class="homemoto-lines homemoto-lines-right">
            <div class="top">
                <div class="circle"></div>
            </div>
            <div class="bottom"></div>
        </div>
        <img class="img img-responsive relative" src="{{ asset('/bundles/motogp/img/assets/moto_17.png') }}" alt="" />
    </div>
    <div class="homemoto-link">
        <img class="tcenter" src="{{ asset('/bundles/motogp/img/assets/plus.png') }}" alt="">
    </div>
    <div class="homemoto-link">
        <img class="tcenter" src="{{ asset('/bundles/motogp/img/assets/plus.png') }}" alt="">
    </div>
</div>