{% set mdata = {'moto-2' : 'BOSCOSCURO MOTO2', 'moto-3' : 'GASGAS RC250GP', 'junior' : '', 'moto-e' : 'EGO CORSA'} %}
<div class="homemotos">
    <div class="homemoto-img relative">
        {% if modality.slug != 'junior' %}
            <label class="golden-text only-desktop lleft">
                {{ mdata[modality.slug] }}
            </label>
            <label class="golden-text only-desktop rright">
                {{ mdata[modality.slug] }}
            </label>
            <img style="width:100%" class="img img-responsive" src="{{ asset('/bundles/motogp/img/assets/motos_home_' ~ modality.slug ~ 'c.png') }}?v={{ "now" | date('dmyhij') }}" />

        {% endif %}
    </div>

    <div class="w100" style="background: white;">
        <div class="homemoto-link bg-white col-xs-6">
            <img class="link tcenter" href="{{ url('motos', {'modality' : modality.slug }) }}" src="{{ asset('/bundles/motogp/img/'~ assetPrefix ~ 'assets/plus.png') }}" alt="">
        </div>
        <div class="homemoto-link bg-white col-xs-6">
            <img class="link tcenter" href="{{ url('motos', {'modality' : modality.slug }) }}" src="{{ asset('/bundles/motogp/img/'~ assetPrefix ~ 'assets/plus.png') }}" alt="">
        </div>
        <div class="w100 relative">
            <div class="section-separator" style="padding:0;margin:0 auto;position:relative;top:-1em"></div>
        </div>
    </div>
</div>

<style>
    .lleft {
        position: absolute;
        top: 7em;
        left: 21em;
        font-weight: lighter;
    }

    .rright {
        position: absolute;
        top: 7em;
        right: 21em;
        font-weight: lighter;
    }
</style>
