{% import _self as m %}

{% macro sponsorblock(level, modality, lsponsors) %}
    {% if level == 1 %}<div class="sponsors-block-wrapper">{% endif %}
    <div class="col-xs-12 sponsors-block-{{ level }}">
        {% if lsponsors.color | length %}
            <div class="no-padding col-xs-12 col-md-12 sponsor-logo color text-center">
                {% for s in lsponsors.color %}
                    <a href="{{ url('partner', {'slug' : s.slug, 'modality' : modality.slug }) }}">
                        <img src="{% path s.logo, 'big' %}" />
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {% if lsponsors.bn | length %}
            <div class="no-padding col-xs-12 col-md-12 sponsor-logo bn text-center">
                {% for s in lsponsors.bn %}
                    <a href="{{ url('partner', {'slug' : s.slug, 'modality': modality. slug }) }}">
                        <img src="{% path s.logo, 'big' %}" alt="" />
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if level == 1 %}</div>{% endif %}
{% endmacro %}

<div class="homesponsors">
    {% for i in range(1, 3) %}
        {{ m.sponsorblock(i, modality, sponsors[i]) }}
    {% endfor %}

    <div class="text-center">
        <img src="{{ asset('/bundles/motogp/img/' ~ assetPrefix ~'assets/up.png') }}" alt="" class="up-arrow">
    </div>

    <div class="col-xs-12">
        <div class="social-bottom tcenter">
            <img blank href="{{ team.facebook }}" class="tcenter link" src="{{ asset('/bundles/motogp/img/assets/sm_footer_facebook.png') }}" alt="" />
            <img blank href="{{ team.twitter }}" class="tcenter link" src="{{ asset('/bundles/motogp/img/assets/sm_footer_twitter.png') }}" alt="" />
            <img blank href="{{ team.instagram }}" class="tcenter link" src="{{ asset('/bundles/motogp/img/assets/sm_footer_instagram.png') }}" alt="" />
            <img blank href="{{ team.youtube }}" class="tcenter link" src="{{ asset('/bundles/motogp/img/assets/sm_footer_youtube.png') }}" alt="" />
        </div>
    </div>
</div>