{% for scores, values in generalScore %}
    <div class="col-xs-12 col-md-6 homeresult">
        <div>
            <h5 class="title">{{ scores | upper }}</h5>
            <div class="sep"></div>
            <table class="results">
                {% for value in values %}
                    {% set l = 1 %}
                    {% for scoreValue in value %}
                        {% if scoreValue.rider.modalityClassification and scoreValue.rider.modalityClassification.name == scores %}
                            {% if loop.index < 13 %}
                                <tr>
                                    <td class="score-index">{{ scoreValue.index }}</td>
                                    <td class="score-rider">{{ scoreValue.rider.name | truncate(1, false, '.') }} {{ scoreValue.rider.surName | upper}} </td>
                                    <td class="score-circuit">
                                        {% if scoreValue.rider.riderTeam %}
                                            {{ scoreValue.rider.riderTeam.name | truncate(25, false,'') | upper}}
                                        {% endif %}
                                    </td>
                                    <td class="text-right"><span class="score-score">{{ scoreValue.score }}</span> pts</td>
                                </tr>
                                {% set l = l + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endfor %}
