<div class="moto-bg">
    <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral_sama.png') }}" />
</div>

{% if
modality.showResults
%}
    <div class="homestats">
        <div class="tcenter">
            <div class="statblock">
                <div class="no-padding">
                    <div class="homestat">
                        <span>{{ modality.worldTitles }}</span>
                    </div>
                    <div class="homestat-title">{{ ("World Titles" | trans | upper) | raw }}</div>
                </div>
                <div class="no-padding">
                    <div class="homestat">
                        <span>{{ modality.worldSubChampionships }}</span>
                    </div>
                    <div class="homestat-title">
                        {{ ("World Sub Championships" | trans | upper ) | raw}}
                    </div>
                </div>
                <div class="statlogo">
                    <img class="img img-responsive" src="{{ asset('/bundles/motogp/img/40anniversary.png') }}" />
                </div>
                <div class="no-padding">
                    <div class="homestat">
                        <span>{{ modality.wins }}</span>
                    </div>
                    <div class="homestat-title single-word">
                        <br>{{ "Wins" | trans | raw | upper}}
                    </div>
                </div>
                <div class="no-padding">
                    <div class="homestat">
                        <span>{{ modality.podiums }}</span>
                    </div>
                    <div class="homestat-title single-word">
                        <br>{{ "Podiums" | trans | raw | upper}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<div class="homeblock col-xs-12" style="background:url('{{ asset('bundles/motogp/img/assets/fondo_humo.jpg') }}')">
    <div class="home-block-wrapper col-xs-12" >
        <div class="home-block-white col-xs-12" {#style="background:url('{{ asset('bundles/motogp/img/assets/fondo_blanco.jpg') }}')"#}>

            {% include "MotogpBundle:Default:Home/homeposts.html.twig" with {'posts' : posts} %}
            {% include "MotogpBundle:Default:Home/homegalleries.html.twig" with {'sliders' : posts} %}

            <div class="homevideo col-xs-12 col-md-6">
                {% include "MotogpBundle:Default:Home/homevideo.html.twig" with {'video' : video} %}
            </div>

            <div class="homeresults col-xs-12 col-md-6">
                {% include "MotogpBundle:Default:Home/homeresults.html.twig" %}
            </div>

            <div class="col-xs-12">
                <div class="section-separator"></div>
            </div>
            <div class="col-xs-12">
                {% include "MotogpBundle:Default:Blocks/social-media-wall.html.twig" %}
            </div>
            <div class="col-xs-12">
                {% include "MotogpBundle:Default:Home/homeriders.html.twig" %}
            </div>
        </div>
    </div>
    {% if modality.slug != 'fim-jr' %}
        <div class="homebottom relative">
            {% include "MotogpBundle:Default:Home/homemotos.html.twig" %}
        </div>
    {% endif %}
</div>
{% include "MotogpBundle:Default:footer.html.twig" %}
