{% trans_default_domain 'topmenu' %}
{% set route = app.request.get('_route') %}

{% set motoname = '' %}

{% if modality.slug == 'moto-2' %}
    {% set motoname = 'ktm' %}
{% else %}
    {% set motoname = 'ktm '%}
{% endif %}

{% set blocksPath = 'MotogpBundle:Default:Blocks/' %}

<nav id="header" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            {% include blocksPath ~ 'modality_list_mobile.html.twig' %}

            <a class="navbar-brand" href="{{ url('index') }}">
                <img  class="img img-responsive" src="{{ asset('/bundles/motogp/img/branding.png')}}?v=2" alt="" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="modality-list only-desktop">
                <li><a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-2'}) }}"><img {% if modality.slug == 'moto-2' %}class="current"{% endif %} src="{{ asset('/bundles/motogp/img/assets/motogp.png?v=8')}}" alt="" /></a></li>
                <li><a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-3'}) }}"><img {% if modality.slug == 'moto-3' %}class="current"{% endif %}src="{{ asset('/bundles/motogp/img/assets/moto3.png?v=8')}}" alt="" /></a></li>
                <li><a href="{{ url('index', {'locale' : locale, 'modality' : 'fim-jr'}) }}"><img {% if modality.slug == 'fim-jr' %}class="current"{% endif %}src="{{ asset('/bundles/motogp/img/assets/fimjr.png?v=8')}}" alt="" /></a></li>
            </ul>
            <ul class="nav navbar-nav only-desktop">
                {% include blocksPath ~ 'header_posts.html.twig' %}
                {% include blocksPath ~ 'header_images.html.twig' %}
                <li><a class="{{ route == 'videos' ? 'active' : '' }}" href="{{ url('videos', {'modality': modality.slug}) }}">{{ "videos" | trans }}</a></li>
                {% if modality.slug != 'fim-jr' %}
                    <li><a class="{{ route == 'motos' ? 'active' : '' }}" href="{{ url('motos', {'modality': modality.slug}) }}">{{ motoname }}</a></li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="{{ route == 'riders' ? 'active' : '' }} nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ "riders" | trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for r in riders %}
                            <a class="dropdown-item" href="{{ url('riders', {'slug' : r.slug, 'modality' : modality.slug}) }}">{{ r.name }}&nbsp;{{ r.surname }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li><a class="{{ route == 'team_staff' ? 'active' : '' }}" href="{{ url('team_staff', {'modality': modality.slug}) }}">Team-staff</a></li>
                <li><a class="{{ route == 'partners' ? 'active' : '' }}"   href="{{ url('partners', {'modality': modality.slug}) }}">Partners</a></li>
                <li><a class="{{ route == 'register' ? 'active' : '' }}"   href="{{ url('public_register', {'modality': modality.slug}) }}">{{ "register" | trans }}</a></li>
            </ul>
            {% include blocksPath ~ 'navbar-mobile.html.twig' %}
        </div>
    </div>
    <div class="header-options">
        <ul class="lang-selector only-desktop">
            <li class="">
                <img class="link" href="{{ (customUrlEN is defined) ? customUrlEN : enURL }}" src="{{ asset('/bundles/motogp/img/assets/lang_en.png')}}" alt="" />
            </li>
            <li class="">
                <img class="link" href="{{ (customUrl is defined) ? customUrl : esURL }}" src="{{ asset('/bundles/motogp/img/assets/lang_es.png')}}" alt="" />
            </li>
        </ul>
        <ul class="social-links only-desktop">
            <li>
                <a href="{{ team.youtube }}" target="_blank">
                    <img src="{{ asset('/bundles/motogp/img/assets/social_youtube.png') }}?v=2" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ team.instagram }}" target="_blank">
                    <img src="{{ asset('/bundles/motogp/img/assets/social_instagram.png') }}?v=2" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ team.twitter }}" target="_blank">
                    <img src="{{ asset('/bundles/motogp/img/assets/social_twitter.png') }}?v=2" alt="" />
                </a>
            </li>
            <li>
                <a href="{{ team.facebook }}" target="_blank">
                    <img src="{{ asset('/bundles/motogp/img/assets/social_facebook.png') }}?v=2" alt="" />
                </a>
            </li>
        </ul>
    </div>
</nav>