{% trans_default_domain 'topmenu' %}
{% set route = app.request.get('_route') %}

{% set motoname = '' %}

{% if modality.slug == 'moto-gp' %}
{% set motoname = 'ducati' %}
    {% else %}
    {% set motoname = 'ktm '%}
{% endif %}

<nav id="header" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('index', {'modality': modality.slug}) }}">
                <img  class="img img-responsive" src="{{ asset('/bundles/motogp/img/branding.png')}}" alt="" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="modality-list">
                <li><a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-gp'}) }}"><img {% if modality.slug == 'moto-gp' %}class="current"{% endif %} src="{{ asset('/bundles/motogp/img/assets/motogp.png')}}" alt="" /></a></li>
                <li><a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-3'}) }}"><img {% if modality.slug == 'moto-3' %}class="current"{% endif %}src="{{ asset('/bundles/motogp/img/assets/moto3.png?v=2')}}" alt="" /></a></li>
                {#<li><a href="{{ url('index', {'locale' : locale, 'modality' : 'fim-jr'}) }}"><img {% if modality.slug == 'fim-jr' %}class="current"{% endif %} src="{{ asset('/bundles/motogp/img/assets/fimjr.png')}}" alt="" /></a></li>#}
            </ul>
            <ul class="nav navbar-nav">
                <li><a class="{{ (route == 'posts' or route == 'post') ? 'active' : '' }}" href="{{ url('posts', {'modality': modality.slug}) }}">{{ "news" | trans }}</a></li>
                <li><a class="{{ route == 'images' ? 'active' : '' }}" href="{{ url('images', {'modality': modality.slug}) }}">{{ "images" | trans }}</a></li>
                <li><a class="{{ route == 'videos' ? 'active' : '' }}" href="{{ url('videos', {'modality': modality.slug}) }}">{{ "videos" | trans }}</a></li>
                <li><a class="{{ route == 'motos' ? 'active' : '' }}" href="{{ url('motos', {'modality': modality.slug}) }}">{{ motoname }}</a></li>

                <li class="nav-item dropdown">
                    <a class="{{ route == 'riders' ? 'active' : '' }} nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ "riders" | trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for r in riders %}
                            <a class="dropdown-item" href="{{ url('riders', {'slug' : r.slug, 'modality' : modality.slug}) }}">{{ r.name }}&nbsp;{{ r.surname }}</a>
                        {% endfor %}
                    </div>
                </li>


                <li><a class="{{ route == 'team_staff' ? 'active' : '' }}" href="{{ url('team_staff', {'modality': modality.slug}) }}">Team-staff</a></li>
                <li><a class="{{ route == 'sponsors' ? 'active' : '' }}"   href="{{ url('sponsors', {'modality': modality.slug}) }}">Sponsors</a></li>
                <li><a class="{{ route == 'register' ? 'active' : '' }}"   href="{{ url('public_register', {'modality': modality.slug}) }}">{{ "register" | trans }}</a></li>
            </ul>
        </div>
        <div class="header-options">
            <ul class="lang-selector">
                <li class="">
                    <img class="link" href="{{ enURL }}" src="{{ asset('/bundles/motogp/img/assets/lang_en.png')}}" alt="" />
                </li>
                <li class="">
                    <img class="link" href="{{ esURL }}" src="{{ asset('/bundles/motogp/img/assets/lang_es.png')}}" alt="" />
                </li>
            </ul>
            <ul class="social-links">
                {#<img src="{{ asset('/bundles/motogp/img/assets/social_networks.png')}}" alt="" />#}
                <li>
                    <a href="{{ team.youtube }}" target="_blank">
                        <img src="{{ asset('/bundles/motogp/img/assets/social_youtube.png') }}" alt="" />
                    </a>
                </li>
                <li>
                    <a href="{{ team.instagram }}" target="_blank">
                        <img src="{{ asset('/bundles/motogp/img/assets/social_instagram.png') }}" alt="" />
                    </a>
                </li>
                <li>
                    <a href="{{ team.twitter }}" target="_blank">
                        <img src="{{ asset('/bundles/motogp/img/assets/social_twitter.png') }}" alt="" />
                    </a>
                </li>
                <li>
                    <a href="{{ team.facebook }}" target="_blank">
                        <img src="{{ asset('/bundles/motogp/img/assets/social_facebook.png') }}" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>