{% trans_default_domain 'topmenu' %}
<nav id="header" class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('index') }}">
                <img  class="img img-responsive" src="{{ asset('/bundles/motogp/img/branding.png')}}" alt="" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="modality-list">
                <li><a href="#"><img class="current" src="{{ asset('/bundles/motogp/img/assets/motogp.png')}}" alt="" /></a></li>
                <li><a href="#"><img src="{{ asset('/bundles/motogp/img/assets/moto3.png')}}" alt="" /></a></li>
                <li><a href="#"><img src="{{ asset('/bundles/motogp/img/assets/fimjr.png')}}" alt="" /></a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url('posts') }}">{{ "news" | trans }} <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url('images') }}">{{ "images" | trans }}</a></li>
                <li><a href="{{ url('videos') }}">{{ "videos" | trans }}</a></li>
                <li><a href="{{ url('motos') }}">Ducati</a></li>
                <li><a href="{{ url('riders') }}">{{ "riders" | trans }}</a></li>
                <li><a href="#">Team-staff</a></li>
                <li><a href="{{ url('sponsors') }}">Sponsor</a></li>
                <li><a href="#">{{ "register" | trans }}</a></li>
            </ul>
        </div>
        <div class="header-options">
            <ul class="lang-selector">
                <li class="">
                    <img src="{{ asset('/bundles/motogp/img/assets/lang_es.png')}}" alt="" />
                </li>
                <li class="">
                    <img src="{{ asset('/bundles/motogp/img/assets/lang_en.png')}}" alt="" />
                </li>
            </ul>
            <ul class="social-links">
                <img src="{{ asset('/bundles/motogp/img/assets/social_networks.png')}}" alt="" />
                {#<li><i class="fa fa-facebook"></i></li>#}
                {#<li><i class="fa fa-twitter"></i></li>#}
                {#<li><i class="fa fa-instagram"></i></li>#}
                {#<li><i class="fa fa-youtube"></i></li>#}
            </ul>
        </div>
    </div>
</nav>