{% if gallery is not null  and gallery.medias | length > 0%}
    <section id="slider-inicio" class="clearfix top-slider" >
        <div id="swiper-inicio" class="swiper-container" autoheight="true" style="height: auto !important;">
            <div class="swiper-wrapper">

                {% if reverse_order is defined and reverse_order %}
                    {% set medias = (gallery.medias | reverse) %}
                {% else %}
                    {% set medias = gallery.medias  %}
                {% endif %}

                {% for m in medias %}
                    {% if m is not null %}
                        <div
                                class="swiper-slide dark lazy cover"
                        >

                            <img style="width: 100%" src="{% path m, 'reference' %}" alt="{{ locale == 'es' ? m.description : m.descriptionEN}}">
                            <div class="slider-caption">
                                {% if m.title %}
                                    {% set url = (locale == 'es' ? m.url : m.urlEN) %}
                                    <h2>
                                        <a href="{{ url ? url : '#' }}" target="_blank">
                                            {{ locale == 'es' ? m.title : m.titleEN }}
                                        </a>
                                    </h2>
                                    <label>
                                        <a href="{{ url ? url : '#' }}" target="_blank">
                                            {{ locale == 'es'  ? m.description : m.descriptionEN }}
                                        </a>
                                    </label>
                                {% endif %}
                               
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div id="sw" class="swiper-pagination"></div>
        </div>

    </section>
    <style>
        #sw-left, #sw-right {
            display: none !important;
        }
        .swiper-container {
            height: auto !important;
        }
    </style>
{% endif %}
