<ul class="modality-list only-mobile">
    <li>
        {#{% if modality.slug == 'moto-2' %}#}
            {#<a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-2'}) }}">#}
                {#<img src="{{ asset('/bundles/motogp/img/assets/motogp.png')}}" alt="" />#}
            {#</a>#}
        {#{% else %}#}
            {#<a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-3'}) }}">#}
                {#<img src="{{ asset('/bundles/motogp/img/assets/moto3.png')}}" alt="" />#}
            {#</a>#}
        {#{% endif %}#}

        {#{% if modality.slug == 'junior' %}#}
            {#<a href="{{ url('index', {'locale' : locale, 'modality' : 'junior'}) }}">#}
                {#<img src="{{ asset('/bundles/motogp/img/assets/junior.png')}}" alt="" />#}
            {#</a>#}
        {#{% endif %}#}

        {#{% if modality.slug == 'junior' %}#}
            {#<a href="{{ url('index', {'locale' : locale, 'modality' : 'junior'}) }}">#}
                {#<img src="{{ asset('/bundles/motogp/img/assets/junior.png')}}" alt="" />#}
            {#</a>#}
        {#{% endif %}#}
        <a href="{{ url('index', {'locale' : locale, 'modality' : modality.slug }) }}">
            <img src="{{ asset('/bundles/motogp/img/assets/' ~ modality.slug ~  '.png')}}" alt="" />
        </a>
    </li>
    {#<li><a href="{{ url('index', {'locale' : locale, 'modality' : 'moto-3'}) }}"><img {% if modality.slug == 'moto-3' %}class="current"{% endif %}src="{{ asset('/bundles/motogp/img/assets/moto3.png?v=2')}}" alt="" /></a></li>#}
    {#<li><a href="{{ url('index', {'locale' : locale, 'modality' : 'junior'}) }}"><img {% if modality.slug == 'junior' %}class="current"{% endif %} src="{{ asset('/bundles/motogp/img/assets/junior.png')}}" alt="" /></a></li>#}
</ul>