<div class="smw">
    <h3 class="smw-title">
        <span class="span2">SOCIAL MEDIA WALL</span>
    </h3>
    <br><br>
    <div class="tcenter w100">
        <div class="tcenter social-media-icons">
            <img class="link" href="{{ team.facebook }}" src="{{ asset('/bundles/motogp/img/' ~ assetPrefix ~ 'assets/social_bg_facebook.png')}}?v=1" />
            <img class="link" href="{{ team.twitter }}" src="{{ asset('/bundles/motogp/img/' ~ assetPrefix ~ 'assets/social_bg_twitter.png')}}?v=1" />
            <img class="link" href="{{ team.instagram }}" src="{{ asset('/bundles/motogp/img/' ~ assetPrefix ~ 'assets/social_bg_instagram.png')}}?v=1" />
            <img class="link" href="{{ team.youtube }}" src="{{ asset('/bundles/motogp/img/' ~ assetPrefix ~ 'assets/social_youtube_golden.png')}}?v=1" />
        </div>
        <div class="social-media-widgets">
            <div class="social-media-widgets-inner">
                <div class="smw-box smw-twitter">
                    <a class="twitter-timeline" data-lang="es" data-width="320" data-height="720" href="https://twitter.com/Asparteam">Tweets by Asparteam</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="smw-box smw-facebook" style="background:#F5F6F7">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12&appId=216790435189978&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                    <div
                            class="fb-page"
                            data-href="https://www.facebok.com/AsparTeam"
                            data-tabs="timeline"
                            data-height="720"
                            data-small-header="false"
                            data-adapt-container-width="true"
                            data-width="456"
                            data-hide-cover="false"
                            data-show-facepile="false"><blockquote cite="https://www.facebook.com/AngelNietoTeam/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AngelNietoTeam/">Aspar Team</a></blockquote></div>
                </div>
                <div class="smw-box smw-instagram">
                    <iframe style="width:100%;height: 100%" src="/instagram-feed" frameborder="0"></iframe>
                </div>
            </div>
            <style>
                .fb-page, .fb-page span {
                    width: 100%;
                }
            </style>
        </div>
    </div>
</div>