<div class="smw">
    <h3 class="smw-title">
        <span>SOCIAL MEDIA</span><span class="span2"> WALL</span>
    </h3>
    <br><br>
    <div class="tcenter w100">
        <div class="tcenter social-media-icons">
            <img class="link" href="{{ team.facebook }}" src="{{ asset('/bundles/motogp/img/assets/social_bg_facebook.png')}}" />
            <img class="link" href="{{ team.twitter }}" src="{{ asset('/bundles/motogp/img/assets/social_bg_twitter.png')}}" />
            <img class="link" href="{{ team.instagram }}" src="{{ asset('/bundles/motogp/img/assets/social_bg_instagram.png')}}" />
            <img class="link" href="{{ team.youtube }}" src="{{ asset('/bundles/motogp/img/assets/social_bg_youtube_red.png')}}" />
        </div>
        <div class="social-media-widgets">
            <div class="social-media-widgets-inner">
                <div class="smw-box smw-twitter">
                    <a class="twitter-timeline" data-lang="es" data-width="320" data-height="320" href="https://twitter.com/AngelNietoTeam?ref_src=twsrc%5Etfw">Tweets by AngelNietoTeam</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="smw-box smw-facebook">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.12&appId=216790435189978&autoLogAppEvents=1';
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>

                    <div class="fb-page" data-href="https://www.facebook.com/AngelNietoTeam/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AngelNietoTeam/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AngelNietoTeam/">Ángel Nieto Team</a></blockquote></div>

                </div>
                <div class="smw-box smw-instagram">
                    <!-- InstaWidget -->
                    <a href="https://instawidget.net/v/user/angelnietoteam" id="link-d9b1e33badebd743b04ece9d774b4ef6479d67bf3cbee818c94c222483bea021">@angelnietoteam</a>
                    <script src="https://instawidget.net/js/instawidget.js?u=d9b1e33badebd743b04ece9d774b4ef6479d67bf3cbee818c94c222483bea021&width=320px"></script>
                </div>
            </div>
        </div>
    </div>
</div>