{% if gallery is not null  and gallery.medias | length > 0%}
    <section id="slider-inicio" class="clearfix top-slider">
        <div id="swiper-inicio" class="swiper-container" style="width:100%; height : 100vh">
            <div class="swiper-wrapper">
                {% for m in gallery.medias %}
                    {% if m is not null %}
                        <div
                                class="swiper-slide dark lazy cover"
                                data-src="{% path m, 'xlarge' %}"
                                aria-role="img"
                                title="{{ locale == 'es' ? m.description : m.descriptionEN}}"
                                arial-label="{{ locale == 'es' ? m.name : m.nameEN }}"
                        >

                            <div class="slider-caption">
                                {% if m.title %}
                                    {% set url = (locale == 'es' ? m.url : m.urlEN) %}
                                    <h2>
                                        <a href="{{ url ? url : '#' }}" target="_blank">
                                            {{ locale == 'es' ? m.title : m.titleEN }}
                                        </a>
                                    </h2>
                                    <label>
                                        <a href="{{ url ? url : '#' }}" target="_blank">
                                            {{ locale == 'es'  ? m.description : m.descriptionEN }}
                                        </a>
                                    </label>
                                {% endif %}
                                <div class="slider-modality">
                                    <img src="{{ asset('/bundles/motogp/img/assets/logowhite-' ~ modality.slug ~ '.png') }}" alt="">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
            <div id="sw" class="swiper-pagination"></div>
        </div>
        <div class="slider-bottom-arrow relative">
            <img src="{{ asset('/bundles/motogp/img/assets/down.png') }}" alt="">
        </div>
    </section>
{% endif %}