{% extends "MotogpBundle:Default:base.html.twig" %}
{% trans_default_domain 'messages' %}
{% block title %}{{ "owner" | trans }} - {{ modality.slug | capitalize }} - {{ "videos" | trans }} {% endblock %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <form method="post" class="form-modality">
        {{ form_start(form) }}
            <div class="team-staff-menu">
                <ul>
                    <li>

                        <fieldset class="text-uppercase form-check form-check-inline">
                            {{ form_widget(form.modalities, {'attr' : {'class' : 'form-check uppercase'}}) }}
                            {{ form_errors(form.modalities) }}
                        </fieldset>

                    </li>
                </ul>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; align-content: center; padding: 20px 0 !important;">
                <button class="btn btn-info" type="submit">{{ 'search' | trans }}</button>
            </div>
        {{ form_end(form) }}
    </form>
    {#<div class="w100 register-nav">
        <form id="videoCheckbox">
            <ul class="nav nav-tabs">
                <li class="active">
                    <label>
                        <input type="checkbox" name="opciones[]" value="moto-2"> MOTO 2
                    </label>
                    #}{#<a href="{{ url('videos', {'modality' : 'moto-2'}) }}">MOTO 2</a>#}{#
                </li>
                <li class="active">
                    <label>
                        <input type="checkbox" name="opciones[]" value="moto-3"> MOTO 3
                    </label>
                    #}{#<a href="{{ url('videos', {'modality' : 'moto-3'}) }}">MOTO 3</a>#}{#
                </li>
                <li class="active">
                    <label>
                        <input type="checkbox" name="opciones[]" value="moto-e"> MOTO E
                    </label>
                    #}{#<a href="{{ url('videos', {'modality' : 'moto-e'}) }}">MOTO E</a>#}{#
                </li>
                <li class="active">
                    <label>
                        <input type="checkbox" name="opciones[]" value="junior"> JUNIOR
                    </label>
                    #}{#<a href="{{ url('videos', {'modality' : 'junior'}) }}">JUNIOR</a>#}{#
                </li>
            </ul>
        </form>
    </div>#}
    <div class="smoke-background">
        <div class="standard-background">
            <div class="video-gallery">
                {% for v in videos %}
                    {% if v.isFacebook(locale) %}
                        {% include "MotogpBundle:Default:Videos/video_gallery_item_facebook.html.twig" with {'video' : v } %}
                    {% else %}
                        {% include "MotogpBundle:Default:Videos/video_gallery_item.html.twig" with {'video' : v } %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-center w100">
                <img src="{{ asset('/bundles/motogp/img/assets/up_inverse.png') }}" alt="" class="up-arrow">
            </div>
        </div>
    </div>

    {% include 'MotogpBundle:Default:footer.html.twig' %}
    <div class="relative">
        <div class="moto-bg moto-bg-footer">
{#            <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral_' ~ modality.slug ~ '.png') }}" style="position:absolute !important"/>#}
        </div>
    </div>

    <style>
        .team-staff-menu {
            border-top: none !important;
            background: rgba(189, 188, 188, 0.88);
            box-shadow: 0 0 1em rgb(0 0 0 / 65%);
            z-index: 99999999;
            width: 100%;
        }
        .form-modality {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
        .team-staff-menu ul {
            display: table;
            margin: auto;
            float: none;
            list-style-type: none;
        }
        .team-staff-menu ul li {
            display: inline;
        }
        .team-staff-menu ul li a {
            color: white;
            transition: all 0.33s;
            border-bottom: 1px solid white;
            text-decoration: none;
            font-size: 0.7em;
            font-weight: bolder;
            text-transform: uppercase;
        }
        label {
            padding: 0 20px 0 5px !important; !important;
        }
        .select-modality {
            display: flex !important;
            border-bottom: none !important;
            margin: auto !important;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            align-content: center !important;
            justify-content: center !important;
            align-items: center !important;
        }
    </style>

{% endblock %}