{% extends "MotogpBundle:Default:base.html.twig" %}
{% trans_default_domain 'messages' %}
{% block title %}{{ "owner" | trans }} - {{ modality.slug | capitalize }} - {{ "videos" | trans }} {% endblock %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="w100 register-nav">
        <ul class="nav nav-tabs select-modality">
            <li class="register-title text-center px-0">
                <form method="post">
                    <div class="tab-content">
                        <div class="col-xs-12 col-md-12 tcenter">
                            <div class="col-xs-12 col-md-12" style="display: grid">
                                {{ form_start(form) }}
                                <fieldset class="form-group">
                                    <label class="w100">{{ 'select_modality' | trans }}:</label>
                                    {{ form_widget(form.modalities, {'attr' : {'class' : 'form-control'}}) }}
                                    {{ form_errors(form.modalities) }}
                                </fieldset>
                                <button class="btn btn-info" type="submit">{{ 'search' | trans }}</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <div class="smoke-background">
        <div class="standard-background">
            <div class="video-gallery">
                {% for v in videos %}
                    {% if v.isFacebook(locale) %}
                        {% include "MotogpBundle:Default:Videos/video_gallery_item_facebook.html.twig" with {'video' : v } %}
                    {% else %}
                        {% include "MotogpBundle:Default:Videos/video_gallery_item.html.twig" with {'video' : v } %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="text-center w100">
                <img src="{{ asset('/bundles/motogp/img/assets/up_inverse.png') }}" alt="" class="up-arrow">
            </div>
        </div>
    </div>

    {% include 'MotogpBundle:Default:footer.html.twig' %}
    <div class="relative">
        <div class="moto-bg moto-bg-footer">
{#            <img src="{{ asset('/bundles/motogp/img/assets/moto_lateral_' ~ modality.slug ~ '.png') }}" style="position:absolute !important"/>#}
        </div>
    </div>

    <style>
        .select-modality {
            display: flex !important;
            border-bottom: none !important;
            margin: auto !important;
            flex-direction: row !important;
            flex-wrap: nowrap !important;
            align-content: center !important;
            justify-content: center !important;
            align-items: center !important;
        }
    </style>

{% endblock %}