{% trans_default_domain 'riders' %}
{% block title %}{{ "owner" | trans([], 'messages') }} - {{ modality.slug | capitalize }} - {{ sponsor.name }} {% endblock %}

{% import _self as forms %}

{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {% if sponsor.featuredMedia is not null %}
        {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : sponsor.getGallery() } %}
    {% endif %}

    <div class="smoke-background">
        <div class="white-background">
            <div class="w100 rider-description">
                {{ sponsor.description | raw}}
            </div>
            <div class="col-xs-12 text-center">
                <a target="_blank" href="{{ sponsor.webUrl }}"><i class="fa fa-link"></i>&nbsp;{{ sponsor.name }}</a>
            </div>
        </div>
    </div>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}