{% trans_default_domain 'riders' %}

{% macro list_isset(r, field) %}
    {% if attribute(r, field) %}
        <li>
            <span class="title">{{ field | trans }}:</span>
            <span>{{ attribute(r, field) }}</span>
        </li>
    {% endif %}
{% endmacro %}

{% import _self as forms %}

{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}

    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}

    <div class="smoke-background">
        <div class="white-background">
            <div class="homesponsors">
                <img class="sponsor1 tcenter img img-responsive" src="{{ asset('/bundles/motogp/img/assets/sponsor1.png') }}" alt="" />

                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-12 sponsor-logo color text-center">
                        {% for s in colorSponsors %}
                            <a href="{{ url('sponsor', {'id' : s.id, 'modality' : modality.slug}) }}">
                                <img src="{% path s.logo, 'big' %}" />
                            </a>
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-md-12 sponsor-logo bn text-center">
                        {% for s in bnSponsors %}
                            <a href="{{ url('sponsor', {'id' : s.id, 'modality' : modality.slug}) }}">
                                <img src="{% path s.logo, 'big' %}" alt="" />
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}