{% trans_default_domain 'contact' %}

<div>
    <h4>{{ "contact_form" | trans }}</h4>
    <ul>
        <li><b>{{ "name" | trans }}</b>:{{ name }}</li>
        <li><b>{{ "phone" | trans }}</b>:{{ phone }}</li>
        <li><b>{{ "email" | trans }}</b>:{{ subject }}</li>
        <li><b>{{ "subject" | trans }}</b>:{{ name }}</li>
    </ul>
    <div>
        <h5>{{ "message" | trans }}</h5>
        <div>
            {{ comments }}
        </div>
    </div>
</div>
<br><br>
<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/bundles/motogp/img/branding.png') }}?v=3" />