<!DOCTYPE html>
<html>
<head>
    {% set locale = app.request.locale  ? app.request.locale : ( app.request.cookies.get('LC') ?  app.request.cookies.get('LC') : 'es' ) %}
    {% set params = {} %}
    {% set currentRoute = app.request.get('_route') %}
    {%  for key, value in app.request.attributes.get('_route_params') %}
        {% if key != '_locale' %}
            {% set params = params | merge({(key) : (value)}) %}
        {% endif %}
    {% endfor %}
    {% set esURL = url(currentRoute, {'locale': 'es'} | merge(params)) %}
    {% set enURL = url(currentRoute, {'locale': 'en'} | merge(params)) %}

    <meta charset="UTF-8" />

    {% if app.environment == 'dev' %}
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {% endif %}

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/bundles/motogp/vendor/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/motogp/vendor/node_modules/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/motogp/vendor/node_modules/swiper/dist/css/swiper.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/motogp/vendor/node_modules/fancybox/dist/css/jquery.fancybox.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/motogp/css/fonts/fontfaces.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/motogp/css/lazyyt.css') }}" />
    {% endblock %}

    {% stylesheets filter="scssphp" output="bundles/motogp/css/app.css"
    "bundles/motogp/scss/_variables.scss"
    "bundles/motogp/scss/main.scss"
    %}
    <link rel="stylesheet" href="{{ asset_url }}?v={{ 'now' | date('dmyhms') }}" />

    {% endstylesheets %}

    {% block meta %}
    {% endblock %}
</head>
<body >
{% block header %}
    {% include "MotogpBundle:Default:Blocks/header.html.twig" %}
{% endblock  %}

{% block afterheader %}
{% endblock %}

{% block body %}
{% endblock %}
</body>
{% block javascripts %}
    <script src="{{ asset('/bundles/motogp/vendor/node_modules/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/vendor/node_modules/jquery.scrollto/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/vendor/node_modules/jquery-lazy/jquery.lazy.min.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/vendor/node_modules/swiper/dist/js/swiper.min.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/vendor/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/vendor/node_modules/fancybox/dist/js/jquery.fancybox.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/js/lazyyt.js') }}"></script>
    <script src="{{ asset('/bundles/motogp/js/main.js') }}?v={{ "now" | date('dmyhms') }}"></script>
{% endblock %}
</html>