{% trans_default_domain 'footer' %}
{% if sponsors is defined %}
    {% include "MotogpBundle:Default:Home/homesponsors.html.twig" %}
{% endif %}
<footer>
    <div class="footer-upper">
        <ul>
            <li><a href="{{ url('terms', {'modality' : modality.slug }) }}">{{ "terms_and_conditions" | trans }}</a></li>
            <li><a href="{{ url('privacy', {'modality' : modality.slug }) }}">{{ "privacy_policy" | trans }}</a></li>
            <li><a href="{{ url('cookies', {'modality' : modality.slug }) }}">{{ "cookies_policy" | trans }}</a></li>
            <li><a href="{{ url('public_contact', {'modality' : modality.slug }) }}">{{ "contact" | trans }}</a></li>
            {% if is_granted('ROLE_USER')%}
                <li><a title="{{ "logout" | trans }}" href="/logout"><i class="fa fa-sign-out"></i></a></li>
            {% else %}
                <li><a href="{{ url('fos_user_security_login') }}"><i class="fa fa-sign-in"></i></a></li>
            {% endif %}
        </ul>
    </div>
    <div class="footer-bottom">
        <img class="footer-logo" src="{{ asset('/bundles/motogp/img/assets/logo_footer.png') }}"/>
        <p class="powered-by">
            <a target="_blank" href="http://www.inetglobal.es">Powered by Inet Global S.L</a>
        </p>
    </div>
</footer>