{% trans_default_domain 'register' %}

<div>
    <h4>{{ "register_confirm_email" | trans }}</h4>

    <div>
        <p>{{ "register_confirm_email_text" | trans }}</p>
        <a href="{{ url }}">{{ "register_confirm_email_link" | trans }}</a>
    </div>
</div>
<br><br>
<img src="{{ app.request.getSchemeAndHttpHost() ~ asset('/bundles/motogp/img/branding_black.png') }}" />