{% trans_default_domain 'register' %}
{% block title %}{{ "owner" | trans([], 'messages') }} - {{ "register" | trans([], 'messages') }} {% endblock %}
{% extends "MotogpBundle:Default:base.html.twig" %}
{% block body %}
    {{ parent() }}
    {% include "MotogpBundle:Default:Blocks/top-slider.html.twig" with {'gallery' : gallery} %}

    <div class="w100 register-nav">
        <ul class="nav nav-tabs">
            <li class="{{ mode == 'fan' ? 'active' : null }}">
                <a href="{{ url('public_register', {'modality' : modality.slug}) }}">FAN</a>
            </li>
            <li class="{{ mode == 'media' ? 'active' : null }}">
                <a href="{{ url('public_register_media', {'modality' : modality.slug}) }}">MEDIA</a>
            </li>
            <li class="{{ mode == 'partner' ? 'active' : null }}">
                <a href="{{ url('public_register_partner', {'modality' : modality.slug}) }}">PARTNER</a>
            </li>
            <li class="{{ mode == 'gp_guest' ? 'active' : null }}">
                <a href="{{ url('public_register_gpguest', {'modality' : modality.slug}) }}">GP GUEST</a>
            </li>
        </ul>
    </div>
    <div class="w100">

        <div class="smoke-background">

            <section class="golden-text register-wrapper flock">
                <div class="w100">
                    <br><br>
                    <div class="col-xs-12 col-md-11 tcenter section text-center">
                        {% include "MotogpBundle:Default:Register/register-form-" ~ mode ~ ".html.twig" %}
                    </div>
                </div>
            </section>
        </div>
    </div>
    <style>
        .pad5 {
            padding : .5em;
        }

        .g-recaptcha {
            padding: 1em;
        }
    </style>
    {% include 'MotogpBundle:Default:footer.html.twig' %}
{% endblock %}
